@using ToplearnBlogProject.UI.Shared.Dashboard.Layouts
@layout DashboardLayout
@page "/dashboard/roles/create"

<section class="py-4">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <h1 class="mb-0 h3">ایجاد نقش جدید</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border">
                    <div class="card-body">
                        <RoleForm Role="Role" RoleCallback="Create" />
                        <MudOverlay @bind-Visible="showProgress" LightBackground="true" AutoClose="true">
                            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                        </MudOverlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>