@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
       @* <MudMainContent>
            <DashboardHeader />
            <main>
                @Body
            </main>
            <DashboardFooter />
        </MudMainContent>*@
         <DashboardHeader />
            <main>
                @Body
            </main>
            <DashboardFooter />
    </MudLayout>
</MudRTLProvider>